.about {
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 600px) {
        padding: 20px 10px;
    }

    .row {
        margin: auto;
        width: 100%;

        [class^="col-"] {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    #intro {
        margin: 50px 0;

        #image {
            .profile-image {
                width: 100%;
                max-width: 300px;
                height: 375px;
                position: relative;

                .image {
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 10px;
                    box-shadow: 0rem 0.5rem 1.625rem -0.25rem rgb(20 20 20 / 15%),
                        0rem 0.5rem 0.5625rem -0.3125rem rgb(20 20 20 / 6%);
                }
            }

            .socials {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 15px;

                @media screen and (min-width: 1200px) {
                    position: absolute;
                    bottom: -50px;
                }

                a {
                    margin-left: 5px;
                    margin-right: 5px;
                    text-decoration: none;

                    &:before {
                        font-size: 2.25em;
                    }
                }
            }
        }

        #info {
            text-align: center;
            p {
                line-height: 35px;
                font-size: 20px;
                margin: 0;
                color: rgb(119, 119, 119);
            }

            #left {
                font-weight: 300;
                font-style: italic;
            }

            #right {
                font-weight: 700;
            }
        }
    }
}
